details {
  border: 2px solid var(--color-brand);
  border-radius: 10px 10px 5px 5px;
  margin: 10px 0;
  
  
}
details[open] p{
    padding: 10px;
  }

summary {
  background-color:var(--color-brand);
  color: var(--color-white);
  font-family: "archivo black";
  padding: 10px;
}