@font-face {
	font-family: "icofont";
	src: url(icofont.ttf);
}

@font-face {
  font-family: "archivo black";
  src: url(Archivoblack-Regular.ttf);
}

@font-face {
  font-family: "tt backforwads script";
  src: url(tt-backforwads-scritp.otf);
}

@font-face {
  font-family: "league spartan";
  src: url(leagueSpartan.ttf);
}
